@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css");

body{
    font-family: Pretendard;
}
table {
    border-collapse:collapse;
}
.navbars {
    width: 100%;
    display: flex;
    align-items: center;
}

.navbars_all{
    width: 100%;
    display: flex;
    padding: 35px 150px 0px 150px;
    align-items: center;
}

.navbar_logo{
    font-size:30px;
    display: flex;
    align-items:center;
}
.navbar_function{
    margin-left:1%;
}

.navbar_login{
    flex:
{
    1,0,0
}
}

.navbar_button{
    padding: 0 20px;
    font-size:1.5em;
    font-weight:700;
}

.navbar_hr {
    border: 0;
    height: 2px;
    margin-top: 2%;
}

.location_buttonbar{
    padding:0px 30px;
    text-align:center;
    display:flex;
    justify-content:center;
}

.location_button{
    padding:10px 40px;

}

.location_buttons {
    padding: 0px 30px;
    font-weight: 500;
    font-size: 20px;
}

.logoimg {
        display: block;
        height: 35px;
        margin-top:3px;
}

.function_title{
    text-align: center;
    margin-top: 3%;
    font-size:40px;
    font-weight:700;
    color:#555555;
}

.function_title h1{
    font-size: 40px;
    font-weight: 700;
    color: #555555;
    line-height: 100%;
}

.dayofweek_name_cal{
    margin-top: 2%;
    text-align:center;
    font-size:30px;
    font-weight:700;
}


.table_container{
    padding-left:7%;
    padding-right:7%;
}



.table {
    width: 100%;
    margin-top:2%;
    border-collapse:collapse;
}

.table th {
        background-color: #f5f5f5;
}


.table th, .table td {
        border: 1px solid black;
        padding: 20px;
        text-align:center;
}

.floating-button-container {
    display: flex;
    gap: 10px;
    background-color: #eaeaea;
    padding: 10px;
    border-radius: 8px;
}

.floating-button {
    padding: 8px 16px;
    font-size: 14px;
    color: #333;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

    .floating-button:hover {
        background-color: #e0e0e0;
    }

.selected {
    background-color: #007bff;
    color: white;
    border: 1px solid #007bff;
}

.icon {
    display: flex;
    align-items: center;
}


footer {
    margin-top:30px;
    padding: 40px;
    background-color: #f7f8f9;
}
