<?xml version="1.0" encoding="utf-8"?>
<!--
  ASP.NET 애플리케이션을 구성하는 방법에 대한 자세한 내용은 다음을 참조하세요.
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
	  <authentication mode="Forms">
		  <forms loginUrl="~/Account/Login.aspx" name="MainAuth" defaultUrl="~/index.aspx"></forms>
	  </authentication>
  </system.web>
	<appSettings>
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="WebForms" />
	</appSettings>
	<location path="Admin">
		<system.web>
			<authorization>
				<deny users ="?"/>
				<allow users ="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="Account">
		<system.web>
			<authorization>
				<allow users ="?"/>
				<deny users ="*"/>
			</authorization>
		</system.web>
	</location>
	<connectionStrings>
		<add connectionString="Server=DESKTOP-Q5C5C8S;Database=ASPNET;User ID=sa;Password=1234" name="ASPNET_ConnectionString" />
	</connectionStrings>
</configuration>