@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css");

body{
    font-family: Pretendard;
}
table {
    border-collapse:collapse;
}


.lecture_infoContainer{
    margin:40px 140px 40px 140px;
}

.lecture_container_title{
    font-weight:700;
    font-size:25px;
    line-height:30px;
    padding-bottom:20px;
    border-bottom: 2px solid #585757;
}

.lecture_infoContainer > div > div{
    padding:10px 0;
    display:flex;
}

.lecture_infoContainer > div > div > span.title{
    padding:15px 0;
    width:15%;
    font-weight:700;
    font-size:20px;
}

.lecture_infoContainer > div > div > span.body{
    padding:15px 0;
    width: 70%;
    font-size:20px;
}

hr{
    border: 0;
    background-color:#E8E8E8;
    height: 2px;
    margin-top: 3px;
}

.button_function{
    margin:10px 20px 10px 0px;
    border:1px solid #DF633B;
    border-radius:10px;
    background: #DF633B;
    color:white;
    padding: 10px 50px;
}