@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css");

.function_title {
    text-align: center;
    margin: 5% 0;
    font-size: 40px;
    font-weight: 700;
    color: #555555;
}


.function_title {
    text-align: center;
    margin-top: 5%;
    font-size: 40px;
    font-weight: 700;
    color: #555555;
}


.lecture_infoContainer {
    margin: 40px 140px 40px 140px;
}

.lecture_container_title {
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    padding-bottom: 20px;
    border-bottom: 2px solid #585757;
}

.lecture_info_body{
    margin-top:10px;
}

.lecture_infoContainer > div > div {
    padding: 15px 0;
    display: flex;
}

.lecture_infoContainer > div > div > span.title {
        width: 15%;
        font-weight: 700;
        font-size: 20px;
}

.lecture_infoContainer > div > div > span.body {
        width: 70%;
        font-size: 20px;
}
.line_container {
    padding: 15px 0;
    display: flex;
}
.element_validator {
    margin: 5px 0 0 20px;
    color: #FE642E;
}

.title {
        width: 15%;
        font-weight: 700;
        font-size: 20px;
}


.form_box {
    padding: 5px 10px;
    text-align: left;
    font-size: 20px;
    font-weight: 400;
    height: 40px;
    border: 1px solid #CBCBCB;
    border-radius: 3px;
    width: 300px;
}

.success_title {
    font-weight: 700;
    font-size: 45px;
}


hr {
    border: 0;
    background-color: #E8E8E8;
    height: 2px;
    margin: 10px 0;
}

.button_function {
    margin: 10px 20px 10px 0px;
    border: 1px solid #DF633B;
    border-radius: 10px;
    background: #DF633B;
    color: white;
    padding: 10px 50px;
}


