body{
	width: 100vh;
	height: 100vh;
}
header, nav, footer { flex: 0 0 auto; }

header {
    background-color: lightyellow;
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    z-index: 100;
	text-align: center;
}
header img{
    height: 40px;
}

nav {
    background-color: lightblue;
    width: 100%;
    height: 50px;
    position: fixed;
    top: 50px;
    z-index: 100;
}

footer {
    background-color: lightgreen;
    width: 100%;
    height: 50px;
    clear: both;
    position: fixed;
    bottom: 0;
    z-index: 100;
}

div#main {
    display: flex;
    flex: 1 1 auto;
    background-color: lightcoral;
    width: 100%;
	height: 100%;
    position: fixed;
    top: 100px;
    z-index: 100;
    bottom: 50px;
}

div#table {
    background-color: lightgrey;
    float: left;
    width: 80%;
}

div#list {
    background-color: lightseagreen;
    float: right;
    width: 20%;
}

table#monTable {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    width: 90%;
    height: 40px;
}

th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    width: 100px;
    height: 40px;
    padding: 20px;
}

th {
    text-align: center;
}
